nav{
    background-color: black;
    text-align: center;
}
a{
    margin-right: 1%;
}
header{
    text-align: center;
}
#banner{
    width: 100%;
}
#conteudo{
    width: 100%;
    position: relative;
    background-color: rgb(233, 227, 227);
}

.my-container{
    margin-left: 20%;
    margin-right: 20%;
}
#cadastrar{
    width: 100%;
    position: relative;
}
li{
    align-items: center;
    position: relative;
    

    width: auto;
    height: auto;
    display: flex;
}
#nivel, #media{
    margin-left: 31%;
}
#lista{
    width: 100%;
    background-color: rgb(233, 227, 227);
}
#table3{
    border-radius: 1px;
}
th{
    text-align: left;
    height: 25px;
    
}
.tablebody3{
    height: 25px;
}
.color-red{
    background-color: red;
}
.color-green{
    background-color: green;
}
footer{
    text-align: center;
    background-color: rgb(16, 67, 236);
    height: 70px;
    padding-top: 5%;
    
}


